span.wiki Traduz Aí
h1 Como a Câmara funciona?
p 
p A Câmara Municipal carioca, localizada no Palácio Pedro Ernesto na Cinelândia, se estrutura da seguinte forma:
p 
p Mesa Diretora: Coordenação política da Câmara
p Procuradoria Geral da CMRJ: Representação legal e consultoria jurídica
p Secretaria Geral da Mesa Diretora: Coordenação operacional das atividades
p Diretoria Geral de Administração - Consolidado
p Inspetoria Geral de Finanças - Consolidado
p Assessorias e Diretorias ligadas à Mesa Diretora
p Ouvidoria Geral da CMRJ
p Corpo Legislativo: Plenário e Comissões
p 
p O Plenário é o órgão soberano da Câmara e é constituído pela reunião física dos 51 vereadores. Ele representa a expressão máxima da atividade parlamentar. Porém para que ele funcione como deveria, é necessário o trabalho dos diversos outros órgãos da Câmara.
p 
p Como é o dia-a-dia da Câmara?
p A Câmara funciona de 2ª a 6ª, porém as sessões ordinárias só ocorrem às 3ªs, 4ªs e 5ªs feiras, das 14h às 18h. O regimento interno da casa prevê que as Comissões permanentes devem se reunir todas as 2ªs a partir das 14h. Já as sessões de 3ª, 4ª e 5ª deveriam ocorrer da seguinte forma:
p 
p Às 14h tem início o Grande Expediente com a leitura da ata da Sessão anterior pelo Secretário. Depois, os vereadores que se inscreveram previamente para falar têm 10 minutos para usarem a tribuna para se pronunciarem sobre o que quiserem. Se não houver oradores inscritos, o presidente da sessão fraqueia a palavra pra qualquer vereador que quiser fazer uso. Se não houver ninguém para falar, a sessão é suspensa até as 15h40. Nesse horário uma nova sessão é reaberta no mesmo esquema mas dessa vez a sessão dura apenas 20 minutos. Às 16h tem início o Prolongamento do Expediente, com duração máxima de 30 minutos, onde o Presidente lê correspondências, projetos ou requerimentos de informação e de inclusão de projetos na Ordem do Dia.
p Terminado o Prolongamento do Expediente, tem início a Ordem do Dia: a sessão em que os projetos de pauta são discutidos e votados. Para a discussão das matérias, é preciso pelo menos 17 vereadores (um terço do total). Tendo menos que isso, a sessão é encerrada. Se houver mais que 17 porém menos que 26 vereadores (a metade do total), o Presidente irá verificar a presença antes das votações dos projetos. Se em três verificações de presença for constatado quórum menor que a metade, então o Presidente encerrará a sessão. Tendo a presença necessária, a sessão se encerra apenas às 18h.
p 
p A Ordem do Dia (os ítens da pauta de votação) é organizada pelo Presidente todas as 6ªs feiras a partir dos pedidos dos vereadores (pode constar até 5 projetos de cada vereador) e dos critérios definidos pelo regimento interno. A publicação da Ordem do Dia é feita no Diário Oficial na 2ª feira e vale para toda a semana.
p 
p Além das sessões ordinárias, há também outros tipos de sessões que ocorrem na Câmara Municipal:
p 
p Sessão extraordinária:
p São sessões realizadas mediante convocação do Presidente ou requerimento de um terço dos vereadores. A pauta é livre.
p 
p Sessão especial:
p Só são realizadas após sessões ordinárias e destinam-se a solenidades ou atividades decorrentes de requerimentos por vereadores. É necessário um terço de vereadores para ter início.
p 
p Sessão solene:
p São sessões para homenagens e outras comemorações, e são dispensadas as formalidades regimentais.
p 
p 
p ---
p NA REAL
p 
p Geralmente os vereadores não fazem uso do grande expediente, e o plenário está quase sempre deserto no meio da semana entre 14h e 16h. Mesmo após o início da Ordem do Dia, raramente as sessões acontecem até o horário que deveriam (18h). Poucos são os vereadores que frequentam assiduamente a Câmara, o que faz com que as sessões não tenham quorum suficiente para votar os projetos na pauta.
p 
p 
