h1 Como os vereadores são eleitos?
p 
p Os vereadores são eleitos a partir do número total de vagas que seu partido ou coligação consegue obter na Câmara Municipal e do quão bem ele foi votado em relação aos outros candidatos dentro de seu partido ou coligação.
p 
p Diferentemente do Executivo (prefeito, governador e presidente), a eleição do Legislativo (vereadores, deputados estaduais e federais e senadores) deve preencher mais de um cargo, e por isso usa um sistema eleitoral diferente. Enquanto que para as vagas do Executivo é eleito aquele que conseguir mais da metade dos votos válidos. 
p 
p Já para a Câmara Municipal, o cálculo é o seguinte: o número total de votos válidos (3.113.599 na última eleição) é divido pelo número de vagas (51). O resultado (61.051 no ano passado) é chamado de Quociente Eleitoral, e representa o número de votos que cada partido/coligação precisa receber para garantir pelo menos uma cadeira na Câmara. Se um partido/coligação receber 123 mil votos, isso quer dizer que ele conseguiria eleger dois de seus candidatos. Estas cadeiras, então, serão preenchidas pelos candidatos mais votados dentro da lista daquele partido ou coligação.
p 
p Mas como os partidos conseguem votos se a gente só vota no vereador?
p Quando nós votamos num vereador, na realidade estamos votanto tanto nele, quanto em seu partido ou coligação. Além disso, ao invés de votar num candidato, você pode digitar apenas os dois dígitos do partido de sua preferência. Isso irá ajudar aquele partido a ter mais chances de conseguir mais cadeiras na Câmara, sem ter que escolher um dos candidatos especificamente.
p 
p E qual é a diferença de partido e coligação?
p Coligação são alianças que os partidos fazem nas eleições. No entanto, as coligações para prefeito não precisam ser as mesmas coligações para a Câmara. Na prática, para as eleições proporcionais, a coligação funciona como se fosse um partido único (mas somente para aquelas eleições) e o número máximo de candidatos é aumentado e o tempo de televisão e rádio também fica maior.
p 
p E o voto branco e o voto nulo?
p Os dois são considerados a mesma coisa: não servem para o cálculo eleitoral. A única diferença é a forma que você invalida seu voto: na primeira você aperta um botão da urna e na segunda você vota num número que não está registrado na justiça eleitoral (como 99, que não está associado a nenhum partido). 
p É por isso que muitas pessoas dizem que votar em branco ajuda quem está “na frente”: como o voto não é considerado válido, se muitas pessoas anularem o seu voto o Quociente Eleitoral será menor e isso torna mais fácil de eleger um prefeito ou um vereador (eles vão precisar de menos votos para se elegerem do que se você tivesse votado em outro candidato).
p 
p EXTRA (DISPENSAVEL):
p 
p Um fenômeno comum apontado por estudiosos de eleições é que geralmente os partidos que tem candidatos a prefeito com grande visibilidade acabam recebendo muitos votos para vereador também. Isso é porque muitos eleitores se deparam com a urna sem saber que você primeiro vota para vereador e em seguida para prefeito, e acabam digitando o número do prefeito no lugar de vereador, confirmam o voto na pressa e depois percebem que cometeram o erro. Isso pode ser evidenciado se compararmos o número de votos que o Partido Verde teve para a Câmara dos Vereadores na eleição de 2008 (quando Fernando Gabeira foi candidato a Prefeito) e em 2012 (quando Aspasia foi candidata). Além disso, o número de votos na legenda do PMDB também pode evidenciar isso, visto que o PMDB não é um partido que tenha um número grande de “militantes ideológicos”.
