h1 Início do Mandato
p Após a eleição, o passo seguinte para os Vereadores assumirem seus cargos é a Diplomação: uma cerimônia formal organizada pela justiça eleitoral que credencia o Prefeito, o vice-prefeito, os 51 vereadores e os seus suplentes a serem empossados. 
p Após a diplomação, o passo seguinte é o empossamento dos eleitos. Segundo o regimento interno da Câmara Municipal, a posse deve ocorrer sempre no dia 1º de Janeiro do ano seguinte à eleição.
p Após a sessão solene de posse, deve ocorrer a eleição da Mesa Diretora. Qualquer vereador pode tentar formar uma chapa para a Mesa Diretora, que deve conter 7 nomes: Presidente, 1º Vice Presidente, 2º Vice Presidente, 1º Secretário, 2º Secretário, 1º Suplente e 2º Suplente. Faz-se então uma sessão para eleição da Mesa Diretora, que comandará a casa nos dois anos seguintes (quando então haverá uma nova eleição).
p Terminada as solenidades do dia 1º, os vereadores podem começar a fazer suas nomeações e decoração dos gabinetes, bem como apresentar projetos de lei até o dia 15 de Fevereiro, quando tem início a 1ª Sessão Legislativa do Mandato. 
p A Sessão Legislativa significa o início das atividades no plenário, quando os vereadores podem subir na tribuna e expressar suas opiniões publicamente, bem como iniciar os debates sobre os projetos de lei que tramitam na casa e as votações.
p O início da Sessão Legislativa também implica na eleição dos membros das Comissões Permanentes da Câmara (são 3 vereadores por cada uma das 22 Comissões). 
p A eleição é feita da seguinte forma: o Presidente vai anunciando cada comissão e os vereadores tem um tempo para votarem nos colegas (a votação é aberta). Após todos os presentes terem votado num membro para aquela comissão, o Presidente anuncia que os três mais votados serão membros dela. E então passa para a Comissão seguinte, até que todas as 22 Comissões estejam compostas.
p ---
p NA REAL:
p A eleição da Mesa Diretora é um jogo de cartas marcadas que acontece bem antes do dia 1º através de muitas promessas e garantias (tanto para membros da base governista como também da oposição, que geralmente também consegue integrar a Mesa).
p A própria eleição das Comissões também é decidido em reuniões a portas fechadas com os principais líderes dos partidos e blocos e o Presidente da Casa. E os vereadores combinam de votar entre sí para as comissões ("Se você votar em mim para a Comissão de Saúde eu voto em você para a Comissão de Urbanismo").
