h1 Início do Mandato
p Segundo o regimento interno da Câmara Municipal, a posse deve ocorrer sempre no dia 1º de Janeiro do ano seguinte à eleição.
p 
p Após a sessão de posse, acontece a eleição da Mesa Diretora, que comandará a casa nos dois anos seguintes. Qualquer vereador pode tentar formar uma chapa para a Mesa Diretora com 7 nomes: Presidente, 1º Vice Presidente, 2º Vice Presidente, 1º Secretário, 2º Secretário, 1º Suplente e 2º Suplente. 
p 
p Depois das solenidades do dia 1º, os vereadores podem começar a fazer suas nomeações e decoração dos gabinetes, bem como apresentar projetos de lei até o dia 15 de Fevereiro, quando tem início a 1ª Sessão Legislativa do Mandato. 
p 
p A Sessão Legislativa significa o início das atividades no plenário, quando os vereadores podem subir na tribuna e expressar suas opiniões publicamente, bem como iniciar os debates sobre os projetos de lei que tramitam na casa e as votações.
p 
p O início da Sessão Legislativa também implica na eleição dos membros das Comissões Permanentes da Câmara. São 3 vereadores para cada uma das 22 Comissões.
p 
p A eleição é feita assim: o Presidente vai anunciando cada comissão e os vereadores tem um tempo para votarem nos colegas (a votação é aberta). Após todos os presentes terem votado, o Presidente anuncia que os três mais votados serão membros dela. E então passa para a Comissão seguinte, até que todas as 22 Comissões estejam compostas.
p 
p ---
p 
p NA REAL:
p A eleição da Mesa Diretora é um jogo de cartas marcadas que acontece bem antes do dia 1º através de muitas promessas e garantias (tanto para membros da base governista como também da oposição, que geralmente também consegue integrar a Mesa).
p 
p A própria eleição das Comissões também é decidida em reuniões a portas fechadas com os principais líderes dos partidos e blocos e o Presidente da Casa. E os vereadores também combinam de votar entre sí para as comissões ("Se você votar em mim para a Comissão de Saúde eu voto em você para a Comissão de Urbanismo").
