= content_for(:tags) do
  title O que é Orçamento Municipal?
  meta property="og:title" content="O que é Orçamento Municipal?"
  meta property="og:url" content=request.url
  meta property="og:image" content="http://i.imgur.com/Gt9Cy1k.png"
  meta property="og:site_name" content="De Olho"
  meta property="og:description" content="O De Olho é um primeiro projeto de participação e acompanhamento da Câmara Municipal carioca de forma fácil e descomplicada."
  meta property="og:type" content="article"

span.wiki Traduz Aí
h1 O que é Orçamento Municipal?
p 
p O Orçamento Municipal é todo o planejamento de quanto a prefeitura pretende ganhar e como pretende gastar. 
p 
p Quais os instrumentos do Orçamento Municipal?
p 
p Plano Plurianual (PPA):
p Estabelece metas e prioridades para 4 anos (desde o início do 2º ano do mandato do prefeito, até o fim do 1º ano do mandato de seu sucessor).
p 
p Lei de Diretrizes Orçamentárias (LDO):
p Estabelece metas e prioridades para o ano seguinte (deve ser enviado para a Câmara até 15 de Abril).
p 
p Lei Orçamentária Anual (LOA):
p Estabelece os custos das ações para o ano seguinte (deve ser enviado para a Câmara até 30 de setembro). 
p 
p O processo de confecção do Orçamento deve ouvir as demandas da população carioca através de Audiências Públicas.
p 
p Após receber os projetos, os Vereadores então podem propor emendas ao projeto de lei orçamentário. Todas as emendas são analisadas pela Comissão de Orçamento e recebem pareceres. Quando o projeto vai ao plenário, ele deve passar por 2 discussões em 2 sessões diferentes. E os pareceres são votados em bloco, a não ser que algum vereador faça um requerimento de destaque (se ele coletar 17 assinaturas, a emenda é votada separada).
span.wiki Na Real
p A prefeitura não organiza as Audiências Públicas para fazer o projeto de lei orçamentário e cabe à Comissão de Orçamento da Câmara realizar audiências públicas onde raramente os Secretários Municipais mudam alguma coisa devido à fala de um cidadão ou vereador.
