span.wiki Traduz Aí
h1 Como a população pode participar das atividades da Câmara?
p 
p Os cariocas sempre podem ir à Câmara conversar com os parlamentares, assistir a sessões plenárias, propor projetos de leis, participar de Audiências Públicas e de reuniões de Comissões. E, claro, votando nos vereadores de 4 em 4 anos.
p 
p Espelhando os dispositivos da Constituição Federal, a Lei Orgânica do Rio de Janeiro garante a participação política direta da população carioca através de três dispositivos: plebiscito, referendo e iniciativa popular. 
p 
p O plebiscito é uma consulta pública à população acerca de algo novo, enquanto o referendo é uma consulta sobre algo que já está em vigor. Já com a iniciativa popular, a nossa Lei Orgânica permite que a população apresente projetos de lei, emendas à Lei Orgânica e ainda, a apresentação de projetos de lei assinados por entidades da sociedade civil. 
p 
p Para um projeto de lei ser apresentado pela sociedade, ele precisa ser assinado por cinco porcento do eleitorado carioca (cerca de 236 mil eleitores) e no caso de um projeto de emenda à Lei Orgânica, são necessários três décimos por cento do eleitorado (cerca de 14.160 eleitores). Quando o projeto estiver tramitando na casa, é permitido o uso da tribuna de um de seus signatários para defesa do projeto no plenário.
p 
p Outra forma de participar das atividades da casa é fazendo pressão nos vereadores, por email, redes sociais, telefone ou presencialmente. Em dias de votação de projetos polêmicos, uma galeria lotada pode certamente mudar o rumo da votação. Pode-se também assistir às reuniões das Comissões Permanentes.
p 
p Um dispositivo que poucos conhecem e que o Regimento Interno assegura é a participação de representantes de associações comunitárias, de classe ou de caráter cívico o direito de usar a palavra para opinar nas comissões permanentes sobre projetos apresentados na Câmara desde que se inscrevam em um livro especial de registro na secretaria da Comissão com antecedências mínima de uma hora antes do início da reunião.
p 
p A população também tem espaço nas Audiências Públicas convocadas pelas Comissões.
span.wiki Na Real
p A pressão popular na Câmara ainda é muito incipiente principalmente pela complexidade do funcionamento da Câmara e a ideia é tornar essa participação mais fácil através deste blog. (:
