span.wiki Traduz Aí
h1 Como um projeto vira uma lei municipal?
p 
p Proposições que podem ser analisadas e votadas na Câmara Municipal:
p 
p Projeto de Emenda à Lei Orgânica do Município:
p Propostas de emendas à Lei Orgânica, a “Constituição” do Município.
p 
p Projetos de Lei Complementar:
p Propostas de mudanças das leis de código de obras, licenciamento e fiscalização.
p 
p Projetos de Lei Ordinária:
p Propostas de leis válidas em toda o município.
p 
p Projeto de Resolução:
p Propostas de alterações no funcionamento da Câmara.
p 
p Projeto de Decreto Legislativo:
p Propostas para revogar decretos do Prefeito que passem por cima das suas limitações.
p 
p 1. Os vereadores apresentam o projeto em plenário e o encaminham para a Assessoria Técnico-Legislativa. Essa Assessoria:
p - Analisa se há projetos similares em tramitação na Câmara;
p - Aponta erros técnicos no texto (se ele fere a Constituição ou se não está dentro da esfera municipal)
p - Indica em quais Comissões o projeto deve passar para receber pareceres antes de ser votado no plenário. 
p 
p 2. Antes de ser votado, todo projeto passa pela Comissão de Justiça e Redação, que dirá se ele é ou não constitucional. O projeto então passa para as outras comissões, que têm um prazo para emitir seus pareceres. Se o prazo se esgotar, o projeto pode ir ao plenário e os pareceres deverão ser dados oralmente antes da votação.
p 
p 3. Para serem aprovados na Câmara, os projetos precisam passar por duas discussões e duas votações. Se não for aprovado em alguma das votações, o projeto é arquivado. Se for aprovado, ele pode seguir dois caminhos, dependendo de sua natureza: 
p Resoluções e Decretos Legislativos são promulgados pelo presidente da Câmara. 
p Outros tipos de projetos, precisam ser sancionados pelo Prefeito para virarem leis. Se o projeto for vetado (total ou parcialmente), ele deve voltar para a Câmara. Os vereadores então têm que analisar o veto do prefeito e votar por mantê-lo ou derrubá-lo. 
p 
p ----
p NA REAL...
p 
p As comissões permanentes quase nunca se reunem para emitir os pareceres e papam mosca com o prazo, obrigando os pareceres a serem dados em plenário por vereadores que sequer sabem do que trata o projeto. Além disso, pela dependência político-eleitoral que grande parte da base governista tem com o prefeito, os projetos de lei do prefeito passam com facilidade na Câmara e os vetos quase sempre são mantidos.
