span.wiki Traduz Aí
h1 Pra que serve um vereador?
p  
p Acima de tudo, os vereadores servem para representar a sociedade na Câmara.
p  
p Ele é o político que deve estar mais próximo dos cidadãos, entendendo os problemas da cidade e buscando soluções. A cidade é onde as pessoas moram, trabalham e se divertem e os vereadores devem entender as demandas das diferentes classes e comunidades existentes na cidade e representá-los politicamente. Os vereadores estão mais próximos da população do que a prefeitura, e por isso muitas vezes servem como canalizadores de denúncias e reclamações para o poder público. Apesar da proximidade com os cidadãos, os vereadores não têm o poder de executar serviços públicos (como mandar consertar buracos em ruas e postes de iluminação queimados ou podar árvores). Mas então que poderes eles realmente tem?
p  
p Poder de fazer leis:
p Os vereadores criam e votam projetos de lei para assegurar direitos aos cidadãos. Como as leis não se aplicam sozinhas, é papel da prefeitura fazer com que as leis sejam cumpridas. Os vereadores podem fazer leis, por exemplo, que tratem dos impostos municipais (como mudanças no IPTU), benefícios fiscais (como diminuir os impostos pagos por construções que sejam ambientalmente sustentáveis), ocupação do solo urbano (como determinar que em certa área da cidade só se possa construir prédios comerciais), proteção do patrimônio municipal (como tombar uma escola municipal) e a elaboração do orçamento anual da cidade (LINK PARA O OUTRO PROCESSO).
p  
p Poder de fiscalizar:
p Um dos poderes mais importantes dos vereadores é o de fiscalizar tudo o que a prefeitura faz, principalmente na aplicação de recursos para melhorar a cidade da forma como está previsto na lei orçamentária aprovada. 
p  
p Mas devemos lembrar a valiosa lição do Tio Ben: “Com grandes poderes, vem grandes responsabilidades”. Mas então quais são as responsabilidades dos nossos vereadores?
p  
p A principal obrigação dos vereadores é participar ativamente das sessões da Câmara Municipal. Além disso, ele deve estar por dentro dos acontecimentos de sua cidade, trabalhar para solucionar os problemas dos cidadãos, acompanhar as obras públicas realizadas pela prefeitura, acompanhar a criação de comissões, fóruns e comitês, trabalhar junto aos movimentos sociais e serem cidadãos exemplares.
p  
p Além de grandes poderes e grandes responsabilidades, os vereadores também têm benefícios para poderem exercer sua função bem.
p  
p Imunidade parlamentar:
p O vereador não pode sofrer ameaça judicial em decorrência de suas opiniões, palavras e votos no exercício de seu mandato. Se ele cometer um crime, no entanto, ele poderá ser preso, processado e julgado sem consulta prévia à Câmara.
p  
p Direito à renúncia:
p O vereador tem direito de desistir do cargo para o qual foi eleito, basta escrever um ofício ao presidente da Câmara e informar ao Plenário. Assim que renunciar, seu suplente assumirá o cargo.
p  
p Direito a outro trabalho
p O vereador pode exercer outra profissão remunerada desde que haja compatibilidade de horários.
p  
p Direito à remuneração
p Os vereadores recebem atualmente um salário de R$15 mil, equivalente a 75% do salário de um Deputado Estadual.
p ( Add: BR não é único pais que remunera http://super.abril.com.br/cotidiano/verdade-brasil-unico-pais-onde-vereador-ganha-salario-682289.shtml)
p  
p Benefícios do mandato
p Os vereadores recebem 1.000 litros mensais de gasolina, 14º e 15º salário, podem indicar 20 assessores e XXX reais em selos.
p  
p Direito a Licença
p O vereador pode tirar licença (remunerada ou não) nos seguintes casos: para tratar de saúde, para cumprir missão de interesse do Município, para tratar de assuntos particulares, para assumir cargo municipal de confiança.
p  
p Mas também há limites:
p  
p O vereador não pode:
p - Ser proprietário ou diretor de empresa que tenha contratos com seu município
p - Eleger-se para outro cargo eletivo enquanto vereador
p - Mover ação judicial contra ou a favor das pessoas jurídicas de direito público, autarquias, empresas públicas e empresas concessionárias de serviço público
p - Exercer advocacia, caso assuma algum cargo titular ou de suplente na Mesa Diretora da Câmara.
p  
p -- NA REAL
p Apesar de não terem na prática o poder de consertar buracos e postes de iluminação, podar árvores, construir pracinhas e oferecer serviços públicos (como assistência médica), muitos líderes comunitários (que são eleitos vereadores) fazem isso em suas comunidades através dos chamados “Centros Sociais” visando, em troca, ganhar votos. Essa é uma prática que deveria ser mais fiscalizada e combatida pela justiça eleitoral, pois configura compra de votos.
p 
