@import columnal/grid
@import colors

body.posts.index
  .highlight_and_wiki_widget
    margin-bottom: 3em
  .highlight
    +grid(9)
    .image
      position: relative
      overflow: hidden
      padding-top: 6px
      .highlight_tag
        position: absolute
        top: 0
        left: 20px
      a
        img
          width: 100%
      .caption
        padding: 1.5em
        color: white
        position: absolute
        bottom: 0
        background: rgba(0, 0, 0, .5)
        width: 100%
        +box-sizing(border-box)
        .title
          font-size: 2em
          margin-bottom: .25em
          a
            color: white
            text-decoration: none
            &:hover
              text-decoration: underline
        .icon-chat
          margin-left: 1em
          &:before
            color: $flamingo
  .wiki_widget
    +grid(3)
    +last
    padding-top: 6px
    .bg
      background: $mercury
      color: darken($mercury, 45%)
      padding: 1em
      font-size: .9em
      line-height: 1.2em
      margin-top: -5px
      +border-radius(5px)
      +box-shadow(darken($mercury, 50%) 0 0 10px inset)
      span
        display: block
        font-weight: bold
      a
        color: $cerulean
        &.title
          text-transform: uppercase
          font-weight: bold
          display: inline-block
          margin-bottom: 1em
      p
        margin-bottom: 1em
  .latest_posts
    +grid(9)
    .post
      +grid-subcolumn(9, 9)
      padding-bottom: 1em
      margin-top: 1em
      border-bottom: 2px dotted $mercury
      .image
        +grid-subcolumn(9, 4)
      .info
        +grid-subcolumn(9, 5)
        +last
      h2
        font-size: 1.5em
        font-weight: bold
        a
          color: black
      .date_and_comments
        color: darken($mercury, 40%)
        font-size: .8em
        display: inline-block
        margin-bottom: 1em
        .icon-chat
          margin-left: 1em
      .body
        font-size: .9em
        margin-bottom: 1em
      .tags
        border-top: 2px $mercury solid
        padding-top: .25em
        a
          margin-right: .5em
          font-size: .9em
          &:after
            content: "·"
            margin-left: .5em
          &:last-child
            &:after
              content: none
    nav.pagination
      +grid-subcolumn(9, 9)
      margin-top: 1em
      span
        display: inline-block
        padding: .5em 1em
        background: $mercury
        a
          color: darken($mercury, 30%)
        &.current
          background: $flamingo
          color: white
          +text-shadow(black 0 1px 1px)

body.posts.new
  form.new_post
    +grid(6)
    +grid-prefix(3)
    input[name='post[title]']
      font-size: 1.5em

body.posts.show
  .post
    +grid(9)
    font-size: .9em
    h1
      color: darken($mercury, 60%)
      font-weight: normal
      margin-bottom: .5em
      font-size: 2.5em
    img
      float: left
      margin-right: 1em
      width: 50%
    p
      margin-bottom: 1em
      line-height: 1.2em
    .tags
      border-top: 2px dotted darken($mercury, 20%)
      padding-top: .5em
      margin-top: 1em
      a
        margin-right: .5em
        &:after
          content: "·"
          margin-left: .5em
        &:last-child
          &:after
            content: none
