/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import columnal/grid
@import colors

$columnal-grid-width: 960px

section.container
  +grid_container

.box
  section.container
    padding: 0

section.row
  +grid_row

a
  color: $flamingo
  text-decoration: none
  &:hover
    text-decoration: underline

body
  font-family: "Proxima Nova"
  background: url("bg.png")

strong
  font-weight: bold

em
  font-style: italic

img
  margin: 0

.box
  background: white
  margin: 0 auto
  margin-bottom: 1em
  width: 960px
  padding: 20px
  +box-shadow(lightgray 0 0 5px)

section.header
  margin-top: .5em
  margin-bottom: .5em
  .meurio
    +grid(6)
    img
      float: left
  .profile_panel, .login
    +grid(6)
    +last
    text-align: right
    line-height: 38px
    img
      width: 25px
      margin-right: .5em
      position: relative
      top: 7px

input[type='submit'], a.btn
  display: inline-block
  background: $flamingo
  color: white
  font-weight: bold
  padding: 10px 20px
  cursor: pointer
  font-size: .9em
  border: none
  text-transform: uppercase
  +border-radius(5px)
  &:hover
    text-decoration: none
    background: lighten($flamingo, 10%)

h1
  color: darken($mercury, 60%)
  font-weight: normal
  margin-bottom: .5em
  font-size: 2.5em

hr
  border: none
  border-top: 2px $mercury solid
  margin-top: 1em
  margin-bottom: .5em

p
  margin-bottom: 1em
  line-height: 1.2em
  &:last-child
    margin-bottom: 0

form
  label, input[type='submit']
    display: block
    margin-top: 1em
    margin-top: 1em
  label
    &.message
      margin: 0
      color: red
    &.required
      &:after
        margin-left: .25em
        content: "*"
        color: red
  input[type='text'], textarea, .tagit
    width: 100%
    +box-sizing(border-box)
    padding: 5px
    outline: none
    border: 2px solid $mercury
    +transition(.5s)
    &:focus
      border-color: $flamingo
  .tagit
    font-size: .9em
    +border-radius(0)
  .markdown_tips
    font-size: .8em

.header2
  margin-bottom: 1.5em

.title_flag
  position: relative
  width: 952px
  left: -36px
  background: $flamingo
  padding: 10px 40px
  padding-top: 13px
  margin-bottom: 25px
  +box-shadow(darken($flamingo, 10%) 0 -2px 4px inset)
  &:before, &:after
    content: ' '
    position: absolute
    width: 0
    height: 0
    left: 0px
    top: 100%
    border-width: 8px 8px
    border-style: solid
    border-color: darken($flamingo, 15%) darken($flamingo, 15%) transparent transparent
  &:after
    left: 1016px
    +rotate(270deg)
  a, span
    color: white
    text-transform: uppercase
    font-weight: bold
    +text-shadow(gray 0 1px 1px)
    &:hover
      text-decoration: none
  a
    margin-left: 10px
    &:after
      margin-left: 10px
      font-size: 1.5em
      line-height: 0
      content: "·"
    &:last-child
      &:after
        content: none
  span
    &:before
      font-size: 1.5em
      vertical-align: middle
      top: -3px
      position: relative

.row.visible
  overflow: visible

span
  &:before
    margin-right: .5em

.wiki_widget
  padding-top: 6px
  .bg
    background: $mercury
    color: darken($mercury, 45%)
    padding: 1em
    font-size: .9em
    line-height: 1.2em
    margin-top: -5px
    +border-radius(5px)
    +box-shadow(darken($mercury, 20%) 0 0 10px inset)
    span
      display: block
      font-weight: bold
    a
      color: $cerulean
      &.title
        text-transform: uppercase
        font-weight: bold
        display: inline-block
        margin-bottom: 1em
    p
      margin-bottom: 1em

.post_item
  padding-bottom: 1em
  margin-top: 1em
  border-bottom: 2px dotted $mercury
  &:first-child
    margin-top: 0
  .image
    +grid-subcolumn(9, 4)
  .info
    +grid-subcolumn(9, 5)
    +last
  h2
    font-size: 1.5em
    font-weight: bold
    a
      color: black
  .date_and_comments
    color: darken($mercury, 40%)
    font-size: .8em
    display: inline-block
    margin-bottom: 1em
    .icon-chat
      margin-left: 1em
      &:before
        margin-right: 0
        vertical-align: middle
  .body
    font-size: .9em
    margin-bottom: 1em
  .tags
    border-top: 2px $mercury solid
    padding-top: .25em
    a
      margin-right: .5em
      font-size: 11px
      &:hover
        text-decoration: none
      &:after
        content: "·"
        margin-left: .5em
      &:last-child
        &:after
          content: none

nav.pagination
  +grid-subcolumn(9, 9)
  margin-top: 1em
  span
    display: inline-block
    padding: .5em 1em
    background: $mercury
    a
      color: darken($mercury, 30%)
    &.current
      background: $flamingo
      color: white
      +text-shadow(black 0 1px 1px)

.share
  margin-bottom: 1em
  .IN-widget, .twitter-share-button
    margin-right: 1em
  .fb-like
    position: relative
    top: 2px

body.tags.show
  .posts
    +grid(9)
    +last
    .post_item
      +grid-subcolumn(9, 9)
  h1
    color: darken($mercury, 50%)
    font-size: 1em
    font-weight: normal
    margin-bottom: 1em
    span
      color: $cerulean
      font-style: italic

body.words.new
  form.new_word
    +grid(6)
    +grid-prefix(3)
    input[name='word[title]']
      font-size: 1.5em

body.words.show
  .word
    +grid(9)
  .wiki_widget
    +grid(3)
    +last

body.posts.index
  .posts
    +grid(9)
    .post_item
      +grid-subcolumn(9, 9)
    .highlight
      margin-bottom: 2em
      .image
        position: relative
        overflow: hidden
        padding-top: 6px
        .highlight_tag
          position: absolute
          top: 0
          left: 20px
        a
          img
            width: 100%
        .caption
          padding: 1.5em
          color: white
          position: absolute
          bottom: 0
          background: rgba(0, 0, 0, .5)
          width: 100%
          +box-sizing(border-box)
          .title
            font-size: 2em
            margin-bottom: .25em
            a
              color: white
              text-decoration: none
              &:hover
                text-decoration: underline
          .icon-chat
            margin-left: 1em
            &:before
              color: $flamingo
              margin-right: 0
              vertical-align: middle
  .side_bar
    +grid(3)
    +last
    .wiki_widget
      margin-bottom: 1em
    .top_tags
      a
        margin-right: .5em
        display: inline-block
        color: darken($mercury, 50%)
        &:hover
          color: $flamingo
      h2
        background: $flamingo
        color: white
        text-transform: uppercase
        padding: 7px 5px 5px 5px
        &:before
          margin-right: .25em
        +text-shadow(gray 0 1px 1px)
      .tags
        background: $mercury
        padding: 1em
        font-size: .9em

body.posts.new, body.posts.edit
  h1
    +grid(6)
    +grid-prefix(3)
    margin-left: -2px
    margin-bottom: 0
  form
    +grid(6)
    +grid-prefix(3)
    input[name='post[title]']
      font-size: 1.5em

body.posts.show
  .post
    +grid(9)
    font-size: .9em
    .post_panel
      margin-bottom: 1em
    img
      float: left
      margin-right: 1em
      width: 50%
    .tags
      border-top: 2px dotted darken($mercury, 20%)
      padding-top: .5em
      margin-top: 1em
      margin-bottom: 2em
      a
        margin-right: .5em
        &:after
          content: "·"
          margin-left: .5em
        &:last-child
          &:after
            content: none
        &:hover
          text-decoration: none
  .wiki_widget
    +grid(3)
    +last
