/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import columnal/grid
@import colors

$columnal-grid-width: 960px

section.container
  +grid_container
  padding: 0

section.row
  +grid_row

body
  font-family: "Proxima Nova"
  background: url("bg.png")

img
  margin: 0

.box
  background: white
  margin: 0 auto
  width: 960px
  padding: 20px
  margin-top: 1em
  +box-shadow(lightgray 0 0 5px)
